body {
    background-color: lavender
}
h1 {
    color:darkslategray;
    font-family: 'Quicksand'
}

h3 {
    color: midnightblue;
    font-family: 'Quicksand'

}
img {
    width: 1140px;
    height: 150px
}