body {
    background-color: lavender
}
h1 {
    color:darkslategray;
    font-family: 'Quicksand'
}

h3 {
    color:darkslategray;
    font-family: 'Quicksand'

}
img {
    width: 100%;
    height: 150px
}